<p id="notice"><%= notice %></p>

<h1> Followering and Pinnable</h1>

<div class="table-responsive">
<table class="table table-bordered table-inverse ">
  <thead>
    <tr>
      <th>Followering</th>
      <th>Boards</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @followed.each do |follower| %>
      <tr>
        <td><%= follower.full_name %></td>
		<% follower.boards.each do |board| %>
		<td><%= board.name %></td>
       <% end %>
      </tr>
    <% end %>
  </tbody>
 </table>
 </div>

<br>



<%= link_to 'New Follower', new_follower_path %>
